*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto"
}

header{
    width: 100%;
    height: 89px;
    background-color: #404EED;
    padding-left: 80px;
    display: flex;
    align-items: center;
}